@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);

}

$font-1: "font-1", sans-serif;

$color-1: #0202b8;
$color-2: rgb(121, 15, 3);
$color-3: #282c34;
$color-4: #fdfdfd;
$white: rgb(255, 255, 255);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/img/background3.jpg) center/cover;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
